<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.keyremapping</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/anuj/personal/dotfiles/macos_keyboard/key_replacement_config.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>StandardOutPath</key>
    <string>/tmp/keyremapping.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/keyremapping.err</string>
</dict>
</plist>
